

/* .Search {
    background-color: white;
} */

.SearchText {
    background-color: #0bafb578;
    width: 90%;
    padding: 3px 1px;
    margin: 25px 31px;
    color: white;
}

.TextField {
    width: 260px;
    margin: 6px 12px;
    padding: 0px 2px 2px 17px;
}

.SelectField {
    width: 50px;
    margin: 6px 12px;
    padding: 0px 2px 2px 17px;
}

#SField {
    width: 500px;
    background-color:white;

}

button {
    background-color: #1f9ec7d4;
    font-size: 24px;
    color:white;
    padding: 12px 21px;
    box-shadow: 0px 0px 21px 4px rgba(60, 159, 178, 0.66);
    margin: 24px 20px -10px;
    border-color: transparent;
    display: inline;
    background: linear-gradient(to right, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    left: 0;
   }

