.SearchText {
    background-color: #0bafb578;
    width: 90%;
    padding: 3px 1px;
    margin: 25px 31px;
    color: white;
}

.TextField {
    width: 260px;
    margin: 6px 12px;
    padding: 0px 2px 2px 17px;
}

.SelectField {
    width: 50px;
    margin: 6px 12px;
    padding: 0px 2px 2px 17px;
    color:white;
}

#SField {
    width: 500px;
    background-color:black;
    color:white;

}
.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
    box-shadow: 2px 5px 2px rgb(60, 139, 139);
    
}

.intro {
    display: block;
    max-width: 100%; 
    height: auto;  
    padding: 10px 25px 10px 25px;
    text-align: center;
    position: relative;
}

.search {
    background: black;
}



   label {
       color: white;
   }

   @media screen and (max-width: 600px){

    .SearchText {
       flex-direction: column;
       height: 203px;
    }
    SearchText {
      flex-direction: column;
   }
    
     }