h1 {
    border-color: transparent;
    box-shadow: 5px 7px 2px rgb(60, 139, 139);
    display: block; 
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-size: 50px;
    text-align: center;
    color:white;
    font-weight: bolder;
    padding: 10px 15px 20px 25px; 
    
}

.website {
    text-align: center;        
    font-size: 25px;
    color:white;
    border-color: transparent;    
    box-shadow: 5px 7px 5px rgb(60, 139, 139);
    display: block;    
    padding: 10px 15px 25px 25px; 
    background: linear-gradient(to right, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

.team {
    text-align: center;       
    font-size: 25px;
    color:white;
    border-color: transparent;
    box-shadow: 5px 7px 2px rgb(60, 139, 139);
    display: block;     
    padding: 20px 15px 20px 25px; 
    background: linear-gradient(to left, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

.info {
    font-size: 18px;
    display: block;
    padding: 10px 15px 20px 25px; 
    background: linear-gradient(to right, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

.members {
    text-align: center;        
    font-size: 25px;
    color:white;
    border-color: transparent;
    box-shadow: 5px 7px 2px rgb(60, 139, 139);
    display: block;    
    padding: 10px 15px 20px 25px; 
    background: linear-gradient(to left, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

#member {
    box-shadow: 5px 7px 2px rgb(60, 139, 139);
    background: linear-gradient(to left, #60beb185 15%, rgba(255, 255, 255, 0) 100%);    
    padding: 10px 15px 20px 25px; 
}

.photo {
    box-shadow: 5px 7px 2px rgb(60, 139, 139);
}

#name {
    color: rgb(67, 34, 110);
    font-size: 25px;    
    font-weight: bolder;
    font-family: 'Noto Serif TC', serif;  
    padding: 10px 15px 20px 25px;
    display: block;
}

#info {    
    display: block;
    padding: 10px 15px 20px 25px; 
    background: linear-gradient(to right, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

#code {
    color:rgb(56, 206, 50);    
    font-size: 18px;  
    text-align: center;   
    display: block;
    padding: 10px 15px 20px 25px; 
    background: linear-gradient(to right, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

#about {
    color:white;        
    font-size: 15px; 
    text-align: center;     
    display: block;
    padding: 10px 15px 20px 25px; 
    background: linear-gradient(to left, #60beb185 15%, rgba(255, 255, 255, 0) 100%);
}

/* img {
    max-width: 200px; 
    max-height: 235px;  
    text-align: center; 
    border-color: transparent;
    box-shadow: 5px 7px 2px rgb(60, 139, 139);
    display: block; 
    position: relative;  
    background: linear-gradient(to left, #60beb185 15%, rgba(255, 255, 255, 0) 100%); 
}  */

.contact {    
    text-align: center;    
    color: white;
    font-size: 15px;
}

@media (max-width: 600px) {
    p {
        font-size: 1.25rem;
    }
}

@media (max-width: 800px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}