<h1>Add a new album!</h1>

<form action="/albums" method="POST">
    <div>
        <label for="name">Title: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="name">Artist: </label>
        <input type="text" name="artist">
    </div>
    <div>
        <label for="name">Year Released: </label>
        <input type="text" name="yearReleased">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<h1>Albums:</h1>

{{#each albums}}
<a href="/albums/{{AlbumId}}"><h3>{{Title}}</h3>
    <br>
</a> {{/each}}