body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#deleteButton {
  background-color: rgb(240, 181, 181);
}

#submitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(136, 185, 241);
}